@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BenefitCalculatorApp.Models.ViewModels

@model EmployeeSubmitViewModel


<div class="text-center">
    <h1 class="display-4">Add Employee</h1>

</div>
<div class="container">
    @using (Html.BeginForm("AddNewEmployee", "Employee", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

    <form>

        <label for="firstName">First Name:*</label><br>
        <input type="text" id="firstName" name="firstName"><br>

        <label for="lastName">Last Name:*</label><br>
        <input type="text" id="lastName" name="lastName"><br>

        <label for="middleName">Middle Name:</label><br>
        <input type="text" id="middleName" name="middleName"><br>


        <label for="dateOfBirth">Date Of Birth:*</label><br>
        <input type="date" id="dateOfBirth" name="dateOfBirth"><br>

        <input id="add-dependent" type="button" value="Add Dependent" class="btn btn-secondary" />

        <div id="new-depdendent"></div>

        <button type="submit" id="save-employee-button" class="btn btn-primary">Save Employee</button>

    </form>
    }
</div>


<script>
    $(document).ready(function () {


        $("#add-dependent").click(function () {

            //numberOfDependents++;

            //var numberOfDivs = $(".depdendent-card").find()
            //var numberOfDepsToAdd = $("#numOfDependents").val();
            //console.log(numberOfDepsToAdd);

            $("#new-depdendent").append("@for(int i = 0; i < 2; i++){<div class='depdendent-card'><div class='card'>" +
                "<div class= 'card-body'><label for= 'dependentFirstName' > First Name:*</label > <br>" +
                "<input type = 'text' id ='dependentFirstName' name ='Dependents[@i].FirstName' > <br>" +
                 "<label for='dependentLastName'>Last Name:*</label><br>" +
                  "<input type='text' id='dependentLastName' name='Dependents[@i].LastName'><br>"+

                   "<label for='dependentMiddleName'>Middle Name:</label><br>"+
                    "<input type='text' id='dependentMiddleName' name='Dependents[@i].MiddleName'><br>"+

                    "<label for='dependentDateOfBirth'>Date Of Birth:*</label><br>"+
                    "<input type='date' id='dependentDateOfBirth' name='Dependents[@i].DateOfBirth'><br></div></div></div>}");
        });
    });
</script>

