@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel


<div class="text-center">
    <img src="~/img/paylocity-logo.svg"/>
    <h1 class="display-4">Paylocity Benefit Calculator</h1>
    <p>Calculate Employee & Dependent Benefits</p>
</div>

<div class="container-fluid">
    @using (Html.BeginForm("GetEmployeeProfile", "Employee", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <form>
                    <div class="form-group">
                        <label for="employeeId">Employee ID:</label><br>
                        <input type="text" id="employeeId" name="employeeId"><br>
                    </div>
                    <div class="row justify-content-center">
                        <input type="submit" value="Go" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-xs-12">

                @Html.ActionLink("Add New Employee", "GetAddEmployeePage", "Employee")
            </div>
        </div>
    }


</div>
